# Local infrastructure
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
REDIS_URL=

# Medusa backend
PORT=
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=
JWT_SECRET=
COOKIE_SECRET=
MEDUSA_BACKEND_URL=
STRAPI_API_TOKEN=

# Storefront
NEXT_PUBLIC_MEDUSA_BACKEND_URL=
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_DEFAULT_REGION=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_STRIPE_KEY=

# Strapi CMS
HOST=
PORT=
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=
