STORE_CORS=http://localhost:8000,https://docs.medusajs.com
PORT=9001
ADMIN_CORS=http://localhost:5173,http://localhost:9000,http://localhost:9001,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:9001,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:password@localhost:5432/medusa_db
DB_NAME=medusa-backend
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
